.mainsection
{
    height: 20%;
    width: 100%
}
footer{
    height: 10%;
    margin:auto auto 0.3em auto;
}
.logo
{
    width:28%;
    height:100%;
  /*  background-image: url('./images/logo.png');*/
    background-repeat: no-repeat;
    background-size: 150px 150px;
    border: 4px  #d8cfc0;
}

.centerarea
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.facebookicon
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}
.fbapad{padding-left: 17px;}
