
@media only screen and (max-width: 1300px) {
    #hero{ width: 100%;margin-top: 70px}
    p{
        font-family: 'Lobster', cursive;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;
    padding-left: 7px;
    }

    span{font-family: 'Lobster'; font-size: 3.8em;}
    .widget{ font-size: 1.4em;}
    h3{ font-size: 1.2em;}
    .right{font-size: 1.5em; padding-top: 14px;}
    .description { flex-wrap: wrap;  }
    article { flex-basis: 100%; }
    footer{ flex-wrap: wrap;}
    .left {flex-basis: 100%; }
    .centerarea{
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        align-items: center;
    }
    /*.nav{  font-size: 2.2em;}*/
    span{font-size: 2.2em; }
    .postheader
{ display: flex; flex-direction: column;justify-content: center; padding-left: 206px;}
.entry-meta{padding-left: 156px}
.ipad{padding-left: 189px}
.fbapad{padding-left: 45px;}
}

@media only screen and (max-width: 800px) {
    #hero{ width: 100%;margin-top: 70px}
    p{
        font-family: 'Lobster', cursive;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.4em;
    padding-left: 7px;
    }

    span{font-family: 'Lobster'; font-size: 1.8em;}
    .widget{ font-size: 1.4em;}
    h3{ font-size: 1.8em;}
    .right{font-size: 1.8em; padding-top: 14px;}
    .nav{  font-size: 1.4em;}
    .centerarea
    {
        display: flex;
    align-content: center;
    justify-items: center;
    flex-direction: column;
    }
    .postheader{ display: flex;  flex-direction: column;  justify-content: center;padding-left: 134px;}
    .entry-meta{padding-left: 130px}
    .ipad{padding-left: 128px}
    .fbapad{padding-left: 45px;}
}

@media only screen and (max-width: 600px) {
    .description { flex-wrap: wrap;  }
    article { flex-basis: 100%; }
    footer{ flex-wrap: wrap;}
    .left {flex-basis: 100%; }
   /* .navigation {flex-wrap: wrap; }
    ul:first-child { flex-basis: 100%; }*/
    .logo {
        width: 48%;
        height: 25%;
        /* background-image: url(./images/logo.png); */
        background-repeat: no-repeat;
        background-size: 150px 150px;
        border: 4px #d8cfc0;
    }
    #hero {width:100% ;margin-top: 60px }
    p{
        font-family: 'Lobster', cursive;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.3em;
    padding-left: 7px;
    }
.hero
{
    padding-top: 268px;
}
    span{font-family: 'Lobster'; font-size: 1.6em;}
    .widget{ font-size: 1.6em;}
    h3{ font-size: 1.6em;}
    .right{font-size: 1.1em;padding-top: 14px; }
    .pageheader{ display: flex; flex-direction: column;height:66%}
    .nav{ 
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: unsafe;
        padding-top: 7px;
        font-size: 1.2em;
     }
    li{  list-style: none; font-family: Raleway;padding-bottom: 15px;}
    .postheader{ padding-left: 7px; flex-direction: column;  justify-content: center; padding-left: 7px;font-size: 0.8em;}
    .centerarea
    {
        display: flex;
    align-content: center;
    justify-items: center;
    flex-direction: column;
    }
    .ipad{padding-left: 18px}
    .entry-meta{padding-left: 97px}
    .fbapad{padding-left: 29px;}
}


@media only screen and (max-width: 375px) {
    .description { flex-wrap: wrap;  }
    article { flex-basis: 100%; }
    footer{ flex-wrap: wrap;}
    .left {flex-basis: 100%; }
   /* .navigation {flex-wrap: wrap; }
    ul:first-child { flex-basis: 100%; }*/
    .logo {
        width: 48%;
        height: 25%;
        /* background-image: url(./images/logo.png); */
        background-repeat: no-repeat;
        background-size: 150px 150px;
        border: 4px #d8cfc0;
    }
    #hero {width:100% ;margin-top: 60px }
    p{
        font-family: 'Lobster', cursive;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.3em;
    padding-left: 7px;
    }
.hero
{
    padding-top: 268px;
}
    span{font-family: 'Lobster'; font-size: 1.6em;}
    .widget{ font-size: 1.6em;}
    h3{ font-size: 1.6em;}
    .right{font-size: 1.1em; padding-top: 14px;}
    .pageheader{ display: flex; flex-direction: column;height:66%}
    .nav{ 
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: unsafe;
        padding-top: 12px;
        font-size: 1.1em;
     }
    li{  list-style: none; font-family: Raleway;padding-bottom: 15px;}
    .postheader{ padding-left: 7px; flex-direction: column;  justify-content: center; padding-left: 24px;font-size: 0.8em;}
    .centerarea
    {
        display: flex;
    align-content: center;
    justify-items: center;
    flex-direction: column;
    }
    .ipad{padding-left: 0px}
    .entry-meta{padding-left: 70px}
    .fbapad{padding-left: 29px;}
}



@media only screen and (max-width: 320px) {
    .description { flex-wrap: wrap;  }
    article { flex-basis: 100%; }
    footer{ flex-wrap: wrap;}
    .left {flex-basis: 100%; }
   /* .navigation {flex-wrap: wrap; }
    ul:first-child { flex-basis: 100%; }*/
    .logo {
        width: 48%;
        height: 25%;
        /* background-image: url(./images/logo.png); */
        background-repeat: no-repeat;
        background-size: 150px 150px;
        border: 4px #d8cfc0;
    }
    #hero {width:100% ;margin-top: 60px }
    p{
        font-family: 'Lobster', cursive;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.3em;
    padding-left: 7px;
    }
.hero
{
    padding-top: 268px;
}
    span{font-family: 'Lobster'; font-size: 1.6em;}
    .widget{ font-size: 1.6em;}
    h3{ font-size: 1.6em;}
    .right{font-size: 1.1em; padding-top: 14px;}
    .pageheader{ display: flex; flex-direction: column;height:66%}
    .nav{ 
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: unsafe;
        padding-top: 13px;
        font-size: 1.0em;
     }
    li{  list-style: none; font-family: Raleway;padding-bottom: 15px;}
    .postheader{ padding-left: 7px; flex-direction: column;  justify-content: center; padding-left: 7px;font-size: 0.8em;}
    .centerarea
    {
        display: flex;
    align-content: center;
    justify-items: center;
    flex-direction: column;
    }
    .ipad{padding-left: 0px}
    .entry-meta{padding-left: 68px}
    .fbapad{padding-left: 29px;}
    

}