@media only screen and (max-width: 1300px) {
    #hero{ width: 100%;margin-top: 70px}
    p{
        font-family: 'Lobster', cursive;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 3.2em;
    }

    span{font-family: 'Lobster'; font-size: 3.8em;}
    .widget{ font-size: 3.0em;}
    h3{ font-size: 3.8em;}
    right{font-size: 3.2em; }
    .description { flex-wrap: wrap;  }
    discription1 { flex-basis: 100%; }
    footer{ flex-wrap: wrap;}
    left {flex-basis: 100%; }
    center{flex-basis: 100%;}
    .navigation{  font-size: 2.2em;}
}


@media only screen and (max-width: 800px) {
    #hero{ width: 100%;margin-top: 70px}
    p{
        font-family: 'Lobster', cursive;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.8em;
    }

    span{font-family: 'Lobster'; font-size: 2.8em;}
    .widget{ font-size: 1.8em;}
    h3{ font-size: 2.2em;}
    right{font-size: 1.8em; }
    .navigation{  font-size: 1.6em;}

}


@media only screen and (max-width: 600px) {
    .description { flex-wrap: wrap;  }
    discription1 { flex-basis: 100%; }
    footer{ flex-wrap: wrap;}
    left {flex-basis: 100%; }
   /* .navigation {flex-wrap: wrap; }
    ul:first-child { flex-basis: 100%; }*/
    #logo {width:100%; }
    #hero {width:100% ;margin-top: 60px }
    p{
        font-family: 'Lobster', cursive;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.8em;
    }

    span{font-family: 'Lobster'; font-size: 2.8em;}
    .widget{ font-size: 1.8em;}
    h3{ font-size: 2.2em;}
    right{font-size: 1.8em; }
    .pageheader{ display: flex; flex-direction: column;height:12%}
    .navigation{ display: flex; flex-direction: column;   justify-content:flex-start; align-content:space-evenly;padding: 0;font-size: 1.1em; }
    li{  list-style: none; font-family: Raleway;}
}